
*.zip
Project_MiniGame_181231_v2/.vs/Project_MiniGame_181227/v15/.suo
Project_MiniGame_181231_v2/.vs/Project_MiniGame_181227/v15/Browse.VC.db
Project_MiniGame_181231_v2/.vs/Project_MiniGame_181227/v15/ipch/AutoPCH/12a316f19e222e7a/IMAGELOADER.ipch
Project_MiniGame_181231_v2/.vs/Project_MiniGame_181227/v15/ipch/AutoPCH/1e00443e59f3c4e5/CAMERA.ipch
Project_MiniGame_181231_v2/.vs/Project_MiniGame_181227/v15/ipch/AutoPCH/38a734ddbdf6f9ba/OBJECTMANAGER.ipch
Project_MiniGame_181231_v2/.vs/Project_MiniGame_181227/v15/ipch/AutoPCH/3da79d3264ef0bf/PLAYER.ipch
Project_MiniGame_181231_v2/.vs/Project_MiniGame_181227/v15/ipch/AutoPCH/435c781c44d7fbb9/BULLETMANAGER.ipch
Project_MiniGame_181231_v2/.vs/Project_MiniGame_181227/v15/ipch/AutoPCH/4480e6247d02fec3/WINDOWSAPI.ipch
Project_MiniGame_181231_v2/.vs/Project_MiniGame_181227/v15/ipch/AutoPCH/46ad0a826af62142/ANIMATION.ipch
Project_MiniGame_181231_v2/.vs/Project_MiniGame_181227/v15/ipch/AutoPCH/8a438e1c70da5bb7/GAMEOBJECT.ipch
Project_MiniGame_181231_v2/.vs/Project_MiniGame_181227/v15/ipch/AutoPCH/945ae5fbca4e7a60/STDAFX.ipch
Project_MiniGame_181231_v2/.vs/Project_MiniGame_181227/v15/ipch/AutoPCH/9a6e18e0cfb2415a/BULLET.ipch
Project_MiniGame_181231_v2/.vs/Project_MiniGame_181227/v15/ipch/AutoPCH/9ddc23caadad28fd/MAWLEK.ipch
Project_MiniGame_181231_v2/.vs/Project_MiniGame_181227/v15/ipch/AutoPCH/af89ee5ab0955525/D2DMANAGER.ipch
Project_MiniGame_181231_v2/.vs/Project_MiniGame_181227/v15/ipch/AutoPCH/b2bfbee408e29c04/TIKTIK.ipch
Project_MiniGame_181231_v2/.vs/Project_MiniGame_181227/v15/ipch/AutoPCH/c51744ebde2e9215/PLAYGROUND.ipch
Project_MiniGame_181231_v2/.vs/Project_MiniGame_181227/v15/ipch/AutoPCH/c610e3b79a07b17a/ANIMATION.ipch
Project_MiniGame_181231_v2/.vs/Project_MiniGame_181227/v15/ipch/AutoPCH/d849eafd78b82930/PRIMALASPID.ipch
Project_MiniGame_181231_v2/.vs/Project_MiniGame_181227/v15/ipch/AutoPCH/da2a6d758aee4251/BULLETMANAGER.ipch
Project_MiniGame_181231_v2/.vs/Project_MiniGame_181227/v15/ipch/AutoPCH/ded5c895d4a8070e/ENEMY.ipch
Project_MiniGame_181231_v2/.vs/Project_MiniGame_181227/v15/ipch/AutoPCH/e3aad0173751fc45/ENEMYMANAGER.ipch
Project_MiniGame_181231_v2/.vs/Project_MiniGame_181227/v15/ipch/AutoPCH/f2c8d22b48561fdb/GRUZZER.ipch
Project_MiniGame_181231_v2/.vs/Project_MiniGame_181227/v15/ipch/AutoPCH/fbb0e1eee4fd139a/GAMENODE.ipch
Project_MiniGame_181231_v2/image/bullet_fire.png
Project_MiniGame_181231_v2/image/bullet_pang.png
Project_MiniGame_181231_v2/image/chair.png
Project_MiniGame_181231_v2/image/charm1.png
Project_MiniGame_181231_v2/image/charm2.png
Project_MiniGame_181231_v2/image/charmSlot.png
Project_MiniGame_181231_v2/image/coin.png
Project_MiniGame_181231_v2/image/coin_ui.png
Project_MiniGame_181231_v2/image/cursor.png
Project_MiniGame_181231_v2/image/goldRock.png
Project_MiniGame_181231_v2/image/gruzzer_dead.png
Project_MiniGame_181231_v2/image/gruzzer_move.png
Project_MiniGame_181231_v2/image/hit.png
Project_MiniGame_181231_v2/image/hp.png
Project_MiniGame_181231_v2/image/knight_attack1.png
Project_MiniGame_181231_v2/image/knight_attack2.png
Project_MiniGame_181231_v2/image/knight_attack3.png
Project_MiniGame_181231_v2/image/knight_attack_down.png
Project_MiniGame_181231_v2/image/knight_attack_up.png
Project_MiniGame_181231_v2/image/knight_dead.png
Project_MiniGame_181231_v2/image/knight_idle.png
Project_MiniGame_181231_v2/image/knight_jump.png
Project_MiniGame_181231_v2/image/knight_lookdown.png
Project_MiniGame_181231_v2/image/knight_lookup.png
Project_MiniGame_181231_v2/image/knight_sitAnddrowse.png
Project_MiniGame_181231_v2/image/knight_walk.png
Project_MiniGame_181231_v2/image/mawlek_arms.png
Project_MiniGame_181231_v2/image/mawlek_body.png
Project_MiniGame_181231_v2/image/mawlek_head.png
Project_MiniGame_181231_v2/image/number.png
Project_MiniGame_181231_v2/image/primalAspid_attack.png
Project_MiniGame_181231_v2/image/primalAspid_dead.png
Project_MiniGame_181231_v2/image/primalAspid_move.png
Project_MiniGame_181231_v2/image/skillGauge_in.png
Project_MiniGame_181231_v2/image/skillGauge_out.png
Project_MiniGame_181231_v2/image/swing.png
Project_MiniGame_181231_v2/image/swing_updown.png
Project_MiniGame_181231_v2/image/tiktik_climbdown.png
Project_MiniGame_181231_v2/image/tiktik_climbdown_ots.png
Project_MiniGame_181231_v2/image/tiktik_climbdown_stu.png
Project_MiniGame_181231_v2/image/tiktik_climbup.png
Project_MiniGame_181231_v2/image/tiktik_climbup_stu.png
Project_MiniGame_181231_v2/image/tiktik_climbup_uts.png
Project_MiniGame_181231_v2/image/tiktik_dead.png
Project_MiniGame_181231_v2/image/tiktik_move.png
Project_MiniGame_181231_v2/image/tiktik_move_sidedown.png
Project_MiniGame_181231_v2/image/tiktik_move_sideup.png
Project_MiniGame_181231_v2/image/tiktik_move_under.png
Project_MiniGame_181231_v2/Project_MiniGame_181227.sln
Project_MiniGame_181231_v2/Project_MiniGame_181227.vcxproj
Project_MiniGame_181231_v2/Project_MiniGame_181227.vcxproj.filters
Project_MiniGame_181231_v2/Project_MiniGame_181227.vcxproj.user
Project_MiniGame_181231_v2/scripts/animation.cpp
Project_MiniGame_181231_v2/scripts/animation.h
Project_MiniGame_181231_v2/scripts/bullet.cpp
Project_MiniGame_181231_v2/scripts/bullet.h
Project_MiniGame_181231_v2/scripts/bulletManager.cpp
Project_MiniGame_181231_v2/scripts/bulletManager.h
Project_MiniGame_181231_v2/scripts/camera.cpp
Project_MiniGame_181231_v2/scripts/camera.h
Project_MiniGame_181231_v2/scripts/collision.cpp
Project_MiniGame_181231_v2/scripts/collision.h
Project_MiniGame_181231_v2/scripts/d2dManager.cpp
Project_MiniGame_181231_v2/scripts/d2dManager.h
Project_MiniGame_181231_v2/scripts/enemy.cpp
Project_MiniGame_181231_v2/scripts/enemy.h
Project_MiniGame_181231_v2/scripts/enemyManager.cpp
Project_MiniGame_181231_v2/scripts/enemyManager.h
Project_MiniGame_181231_v2/scripts/gameNode.cpp
Project_MiniGame_181231_v2/scripts/gameNode.h
Project_MiniGame_181231_v2/scripts/gameObject.cpp
Project_MiniGame_181231_v2/scripts/gameObject.h
Project_MiniGame_181231_v2/scripts/gruzzer.cpp
Project_MiniGame_181231_v2/scripts/gruzzer.h
Project_MiniGame_181231_v2/scripts/image.cpp
Project_MiniGame_181231_v2/scripts/image.h
Project_MiniGame_181231_v2/scripts/ImageLoader.cpp
Project_MiniGame_181231_v2/scripts/ImageLoader.h
Project_MiniGame_181231_v2/scripts/imageManager.cpp
Project_MiniGame_181231_v2/scripts/imageManager.h
Project_MiniGame_181231_v2/scripts/keyManager.cpp
Project_MiniGame_181231_v2/scripts/keyManager.h
Project_MiniGame_181231_v2/scripts/mawlek.cpp
Project_MiniGame_181231_v2/scripts/mawlek.h
Project_MiniGame_181231_v2/scripts/minion.cpp
Project_MiniGame_181231_v2/scripts/minion.h
Project_MiniGame_181231_v2/scripts/ObjectManager.cpp
Project_MiniGame_181231_v2/scripts/ObjectManager.h
Project_MiniGame_181231_v2/scripts/OjbectManager.cpp
Project_MiniGame_181231_v2/scripts/player.cpp
Project_MiniGame_181231_v2/scripts/player.h
Project_MiniGame_181231_v2/scripts/playGround.cpp
Project_MiniGame_181231_v2/scripts/playGround.h
Project_MiniGame_181231_v2/scripts/primalAspid.cpp
Project_MiniGame_181231_v2/scripts/primalAspid.h
Project_MiniGame_181231_v2/scripts/progressBar.cpp
Project_MiniGame_181231_v2/scripts/progressBar.h
Project_MiniGame_181231_v2/scripts/randomFunction.h
Project_MiniGame_181231_v2/scripts/resource.h
Project_MiniGame_181231_v2/scripts/singletonBase.h
Project_MiniGame_181231_v2/scripts/stdafx.cpp
Project_MiniGame_181231_v2/scripts/stdafx.h
Project_MiniGame_181231_v2/scripts/targetver.h
Project_MiniGame_181231_v2/scripts/tiktik.cpp
Project_MiniGame_181231_v2/scripts/tiktik.h
Project_MiniGame_181231_v2/scripts/txtData.cpp
Project_MiniGame_181231_v2/scripts/txtData.h
Project_MiniGame_181231_v2/scripts/utils.cpp
Project_MiniGame_181231_v2/scripts/utils.h
Project_MiniGame_181231_v2/scripts/windowsAPI.cpp
Project_MiniGame_181231_v2/x64/Debug/animation.obj
Project_MiniGame_181231_v2/x64/Debug/bullet.obj
Project_MiniGame_181231_v2/x64/Debug/bulletManager.obj
Project_MiniGame_181231_v2/x64/Debug/camera.obj
Project_MiniGame_181231_v2/x64/Debug/collision.obj
Project_MiniGame_181231_v2/x64/Debug/d2dManager.obj
Project_MiniGame_181231_v2/x64/Debug/enemy.obj
Project_MiniGame_181231_v2/x64/Debug/enemyManager.obj
Project_MiniGame_181231_v2/x64/Debug/gameNode.obj
Project_MiniGame_181231_v2/x64/Debug/gameObject.obj
Project_MiniGame_181231_v2/x64/Debug/gruzzer.obj
Project_MiniGame_181231_v2/x64/Debug/image.obj
Project_MiniGame_181231_v2/x64/Debug/ImageLoader.obj
Project_MiniGame_181231_v2/x64/Debug/imageManager.obj
Project_MiniGame_181231_v2/x64/Debug/keyManager.obj
Project_MiniGame_181231_v2/x64/Debug/mawlek.obj
Project_MiniGame_181231_v2/x64/Debug/minion.obj
Project_MiniGame_181231_v2/x64/Debug/ObjectManager.obj
Project_MiniGame_181231_v2/x64/Debug/player.obj
Project_MiniGame_181231_v2/x64/Debug/playGround.obj
Project_MiniGame_181231_v2/x64/Debug/primalAspid.obj
Project_MiniGame_181231_v2/x64/Debug/progressBar.obj
Project_MiniGame_181231_v2/x64/Debug/Project_.F62DAC05.tlog/CL.command.1.tlog
Project_MiniGame_181231_v2/x64/Debug/Project_.F62DAC05.tlog/CL.read.1.tlog
Project_MiniGame_181231_v2/x64/Debug/Project_.F62DAC05.tlog/CL.write.1.tlog
Project_MiniGame_181231_v2/x64/Debug/Project_.F62DAC05.tlog/link.command.1.tlog
Project_MiniGame_181231_v2/x64/Debug/Project_.F62DAC05.tlog/link.read.1.tlog
Project_MiniGame_181231_v2/x64/Debug/Project_.F62DAC05.tlog/link.write.1.tlog
Project_MiniGame_181231_v2/x64/Debug/Project_.F62DAC05.tlog/Project_MiniGame_181227.lastbuildstate
Project_MiniGame_181231_v2/x64/Debug/Project_MiniGame_181227.exe
Project_MiniGame_181231_v2/x64/Debug/Project_MiniGame_181227.ilk
Project_MiniGame_181231_v2/x64/Debug/Project_MiniGame_181227.log
Project_MiniGame_181231_v2/x64/Debug/Project_MiniGame_181227.pdb
Project_MiniGame_181231_v2/x64/Debug/stdafx.obj
Project_MiniGame_181231_v2/x64/Debug/tiktik.obj
Project_MiniGame_181231_v2/x64/Debug/txtData.obj
Project_MiniGame_181231_v2/x64/Debug/utils.obj
Project_MiniGame_181231_v2/x64/Debug/vc141.idb
Project_MiniGame_181231_v2/x64/Debug/vc141.pdb
Project_MiniGame_181231_v2/x64/Debug/windowsAPI.obj
Project_MiniGame_181227/x64/Debug/windowsAPI.obj
Project_MiniGame_181227/x64/Debug/vc141.pdb
Project_MiniGame_181227/x64/Debug/vc141.idb
Project_MiniGame_181227/x64/Debug/utils.obj
Project_MiniGame_181227/x64/Debug/txtData.obj
Project_MiniGame_181227/x64/Debug/tiktik.obj
Project_MiniGame_181227/x64/Debug/stdafx.obj
Project_MiniGame_181227/x64/Debug/Project_MiniGame_181227.pdb
Project_MiniGame_181227/x64/Debug/Project_MiniGame_181227.log
Project_MiniGame_181227/x64/Debug/Project_MiniGame_181227.ilk
Project_MiniGame_181227/x64/Debug/Project_MiniGame_181227.exe
Project_MiniGame_181227/x64/Debug/Project_.F62DAC05.tlog/Project_MiniGame_181227.lastbuildstate
Project_MiniGame_181227/x64/Debug/Project_.F62DAC05.tlog/link.write.1.tlog
Project_MiniGame_181227/x64/Debug/Project_.F62DAC05.tlog/link.read.1.tlog
Project_MiniGame_181227/x64/Debug/Project_.F62DAC05.tlog/link.command.1.tlog
Project_MiniGame_181227/x64/Debug/Project_.F62DAC05.tlog/CL.write.1.tlog
Project_MiniGame_181227/x64/Debug/Project_.F62DAC05.tlog/CL.read.1.tlog
Project_MiniGame_181227/x64/Debug/Project_.F62DAC05.tlog/CL.command.1.tlog
Project_MiniGame_181227/x64/Debug/progressBar.obj
Project_MiniGame_181227/x64/Debug/primalAspid.obj
Project_MiniGame_181227/x64/Debug/playGround.obj
Project_MiniGame_181227/x64/Debug/player.obj
Project_MiniGame_181227/x64/Debug/ObjectManager.obj
Project_MiniGame_181227/x64/Debug/minion.obj
Project_MiniGame_181227/x64/Debug/mawlek.obj
Project_MiniGame_181227/x64/Debug/keyManager.obj
Project_MiniGame_181227/x64/Debug/imageManager.obj
Project_MiniGame_181227/x64/Debug/ImageLoader.obj
Project_MiniGame_181227/x64/Debug/image.obj
Project_MiniGame_181227/x64/Debug/gruzzer.obj
Project_MiniGame_181227/x64/Debug/gameObject.obj
Project_MiniGame_181227/x64/Debug/gameNode.obj
Project_MiniGame_181227/x64/Debug/enemyManager.obj
Project_MiniGame_181227/x64/Debug/enemy.obj
Project_MiniGame_181227/x64/Debug/d2dManager.obj
Project_MiniGame_181227/x64/Debug/collision.obj
Project_MiniGame_181227/x64/Debug/camera.obj
Project_MiniGame_181227/x64/Debug/bulletManager.obj
Project_MiniGame_181227/x64/Debug/bullet.obj
Project_MiniGame_181227/x64/Debug/animation.obj
Project_MiniGame_181227/.vs/Project_MiniGame_181227/v15/.suo
Project_MiniGame_181227/.vs/Project_MiniGame_181227/v15/Browse.VC.db
Project_MiniGame_181227/.vs/Project_MiniGame_181227/v15/Browse.VC.opendb
Project_MiniGame_181227/.vs/Project_MiniGame_181227/v15/ipch/AutoPCH/15761388a18d3922/OBJECTMANAGER.ipch
Project_MiniGame_181227/.vs/Project_MiniGame_181227/v15/ipch/AutoPCH/5489e075d32533bd/CAMERA.ipch
Project_MiniGame_181227/.vs/Project_MiniGame_181227/v15/ipch/AutoPCH/5bb6dc93e1b2c31d/PLAYGROUND.ipch
Project_MiniGame_181227/.vs/Project_MiniGame_181227/v15/ipch/AutoPCH/de011f94584f986f/GAMEOBJECT.ipch
*.ipch
